#entry-img{
    height: 9rem;
    width: 10vw;
    border-radius: 50%;

}

#entry-spcr2{
    height: 8rem;
}
#entry-jsty1{
    display: flex;
    justify-content: end;
    animation: mymove 5s ;

}
#entry-name{
    font-size: 2.5vw;
   font-weight: 900;
    color: transparent;
background: #ffffff;
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.655);
font-family: 'Cinzel Decorative', cursive;
border-bottom: 1px solid rgb(255, 255, 255);
border-bottom-left-radius: 20px;

}
#entry-p1{
    font-size: 1.2vw;
    color: rgb(255, 255, 255);
    color: #FFFFFF;
text-shadow: 4px 3px 0 #000000;
color: #FFFFFF;
animation: mymove 5s ;

}
#entry-jsty2{
    display: flex;
    justify-content: center;

}
#entry-btn-clr{
    background-color: rgba(255, 61, 213, 0.323);
    border: none;
    border-radius: 15px;

 
    
}
-spcr2{
    height: 6rem;
}

#entry-bk{
    width: 100%;
    height: 50rem;
background-position: fixed ;
    background-size: cover;
    background-image: url(../../public/images/back2.jpg)
    
    

}
   @keyframes mymove {
        from {width: 80%;}
        to {width: 100%;}
      }
   
      .glow-on-hover {
        width: 220px;
        height: 50px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
    }
    
    .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }
    
    .glow-on-hover:active {
        color: #000
    }
    
    .glow-on-hover:active:after {
        background: transparent;
    }
    
    .glow-on-hover:hover:before {
        opacity: 1;
    }
    
    .glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
    }
    
    @keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }
  @media screen and (max-width: 377px) {
  
  }